<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>{{ post.title }} | Yunus Tez SAP ABAP Blog</title>
<!-- 🌟 Favicon & Site Logo -->
<link rel="icon" href="/assets/dolphin1.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/assets/dolphin1.png">
<link rel="shortcut icon" href="/assets/dolphin1.png" type="image/png">

<!-- 🧠 Google favicon ve site logosu için -->
<link rel="icon" href="https://ytez-abap-blog.onrender.com/assets/dolphin1.png" type="image/png">
<meta property="og:image" content="https://ytez-abap-blog.onrender.com/assets/preview.png">
<meta itemprop="image" content="https://ytez-abap-blog.onrender.com/assets/preview.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <meta name="description" content="{{ post.content[:150]|striptags }}">
  <meta name="keywords" content="{{ post.title }}, ABAP, SAP, Blog, how to">
    <meta name="google-site-verification" content="3CNs25yV6GYeKntBk3YEeiCNCuhhETC6v8G2SSkri7Y" />
</head>
<body>
  <header>
    <a href="/" class="about-btn">← Geri Dön</a>
  </header>

<div class="post-container">
  <h1>{{ post.title }}</h1>
  <div>{{ post.content | safe }}</div>
     <br>
    <small>👁️ Görüntülenme Sayısı: {{ post.views }}</small>
     <br>
    <small>Yayın tarihi: {{ post.date_posted.strftime('%d.%m.%Y') }}</small>
</div>
</body>
</html>