<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Arama Sonuçları | Yunus Tez SAP ABAP Blog</title>
        <!-- 🌟 Site meta ve favicon -->
<link rel="icon" href="{{ url_for('custom_static', filename='dolphin1.png') }}" type="image/png">
<link rel="apple-touch-icon" href="{{ url_for('custom_static', filename='dolphin1.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="google-site-verification" content="3CNs25yV6GYeKntBk3YEeiCNCuhhETC6v8G2SSkri7Y" />
</head>
<body>

  <header>
    <a href="/" class="about-btn">← Geri Dön</a>
  </header>

  <div class="post-container">
    <h2>"{{ query }}" için sonuçlar</h2>

    <ul>
      {% for post in results %}
        <li class="post-item">
          <a href="{{ url_for('post', id=post.id) }}" class="post-title">{{ post.title }}</a>
          <p>{{ post.content[:200]|safe }}...</p>

        </li>
      {% else %}
        <li>Sonuç bulunamadı.</li>
      {% endfor %}
    </ul>

  </div>

</body>
</html>